<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         colors="true"
         forceCoversAnnotation="true"
>
    <coverage>
        <include>
            <directory suffix=".php">./src</directory>
        </include>
        <exclude>
            <directory>./src/Contracts</directory>
            <directory>./src/Visuals</directory>
        </exclude>
    </coverage>
    <testsuites>
        <testsuite name="Data">
            <directory>tests/Data</directory>
        </testsuite>
        <testsuite name="Puzzles">
            <directory>tests/Puzzles</directory>
        </testsuite>
    </testsuites>
</phpunit>
